.footer{
    margin-top: 130px;
}
.footer-tittle{
    text-align: center;
}
.footer-tittle h1{
font-size: 3rem;
color: #131313;
font-weight: 700;
margin-bottom: 24px;
}
.footer-tittle p{
color: #727272;
font-size: 1rem;
line-height: 26px;
max-width: 542px;
margin: 0 auto;
margin-bottom: 60px; 
}
.footer-brand{
    justify-content: space-between;
    margin-bottom:130px;
    color:#727272;
}

.footer-brand img{
    max-width: 100%;
}
.footer-copy{
    text-align: center;
    background-color:#FFF4E7;
    margin-bottom: 216px;
    padding: 39px 0;
}
.footer-copy p{
font-size: 1.5rem;
color: #727272;
}