*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.google-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.btn-primary{
    padding: 21px 24px 20px 25px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 5px;
    border: none;
}
.hedar-bg{
    background-color: rgb(255, 244, 231);
}
.navbar{
    justify-content:space-between;
    align-items: center;
    padding: 2rem 0;
}
.navbar-logo h1{
    font-weight: 700;
    font-size: 3rem;
}
.navbar-links ul{
      list-style: none;
      gap: 30px;
}
.navbar-links ul a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #727272;
}
.hide{
    display: none;
}
@media screen and (max-width:576px){
    .navbar{
    flex-direction: column;
}
}